.side-bar {
     width: 264px;
     @include mq(lg) {
          width: 264px;
          min-width: $nav-width;
}

@media (min-width: 75.875rem)
.side-bar {
     width: 264px;
}

@media (min-width: 59.375rem)
.side-bar {
    flex-wrap: nowrap;
    position: absolute;
    width: 248px;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid #eeebee;
    align-items: flex-end;
}
