/* Overrides - overwrites styles in the just-the-docs remote theme */

/* Divider style */
hr.divider {
  border-top: 3px solid #bbb;
}

/* Images styling */
.img {
     max-width: 100%;
     height: auto;
}

.apptotologo {
     height: 50%;
     width: 50%;
}

/* Page layout size adjustments */
.side-bar {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-wrap: nowrap;
    position: absolute;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: $nav-width;
    min-width: $nav-width;
  }
}

.main-content-wrap {
  @include mq(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.main-content {
  @include mq(md) {
    position: relative;
    max-width: 1500;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: $nav-width;
  }
}
